<%- include("header") -%>


<div class="box" id="heading">
  <h1><%= listTitle %></h1>
</div>

<div class="box">
  <% for (var i=0; i<newListItems.length; i++) { %>
  <div class="item">
    <label class="container">
      <input type="checkbox">
      <p><%= newListItems[i] %></p>
      <span class="checkmark"></span>
    </label>
    <!-- <input type="checkbox">
    <p><%= newListItems[i] %></p> -->
  </div>
  <% } %>

  <form class="item" action="/" method="post">
    <input class="new-item-text" type="text" name="newItem" placeholder="New Task" autocomplete="off">
    <button type="submit" name="list" value=<%= listTitle %>>+</button>
  </form>

</div>
<%- include("footer") -%>
